h1 {
    background-color: darkgreen;
    font-family: cursive, sans-serif;
    color: rgb(202, 239, 193);
    text-align: center;
}

div {
    background-image: href="C:\Env\ECF\Zoo 2\images\Background.png";
}