// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary : #0B4107;
$secondary: #16750E;
$tertiary: #2050c9;
$black: #389019;
$dark: #997e1d;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.accueilZoo {
    position: relative;
    &::before {
    content:"";
    position: absolue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/image_zoo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
    }    

    *{
        position: relative;
    }

    .infos{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}
.presentation {
    text-align: center;
    color: black bold;
    
}

.background::before {
    content:"";
    background-image: url("/images/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.dropdown-menu {
    background-color: #389019;
}

.nav-link {
    color: black;
    
}